.navbar {
    width: 100%;
    padding: 5px 0;
    background-color: var(--background-color, #1a1a1a);
    transition: all 0.3s ease;
    z-index: 9999;
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.navbarBrand{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--main-color, #C5A059);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarBrand img {
    width: 60px;
    color: #C5A059;
}

.desktopNav {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}

.navLink {
    text-decoration: none;
    color: #C5A059;
    font-weight: 600;
    position: relative;
    padding: 5px 0;
}

.navLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color, #000);
    transition: width 0.3s ease;
}

.navLink:hover::after {
    width: 100%;
}

.customToggle {
    background: #C5A059;
    color: #fff;
    border-radius: 25px;
    padding: 6px 15px;
    border: none;
}
.customToggle:hover {
    background: #C5A059;
}

.mobileMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
    right: 0 !important;
}

.langAr .mobileMenu {
    right: auto;
    left: -100%;
}

.langAr .show {
    left: 0 !important;
}

.mobileNavList {
    list-style: none;
    text-align: center;
    padding: 0;
}

.mobileNavList li {
    margin: 25px 0;
}

.mobileNavList a {
    font-size: 24px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

.closeMobileMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbarToggler {
    display: none;
    border: none;
    background: none;
}

@media (max-width: 991px) {
    .desktopNav {
        display: none;
    }

    .navbarToggler {
        display: block;
    }
}